body{
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
}

section{
    text-align: center;
}

button:hover{
    color: rgb(51, 210, 30);
    background-color: darkblue;
    border: thick double #32a1ce;
}

.game--container{
    display: grid;
    border-width: thick;
    border-color: blueviolet;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 50px auto;
    cursor: crosshair;
}


.cell{
    border: 5px solid;
    border-color: red green blue yellow;
    margin: 10px 10px 10px 10px;
}

.cell:hover{
    border-color: black;
    margin: 12px 12px 12px 12px;
}